@model IEnumerable<ASPNETTest.Models.Room>

@{
    ViewBag.Title = "Avaliable Rooms";
}

<h2>Avaliable Rooms</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomNumber)
        </td>

    </tr>
}

</table>
